<!DOCTYPE html>
<html>
<head>
    <meta name="HandheldFriendly" content="true">
    <meta name="MobileOptimized" content="width">
    <meta name="viewport" id="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
	<title>首页</title>
	<script src="//127.0.0.1/require/require.js" data-main="/dist/config.js" ></script>
	<link rel="stylesheet" type="text/css" href="/dist/miss.mobile.css">
</head>
<style type="text/css">
a{
	display: inline-block;
}
a img{
	vertical-align: bottom;
}
</style>
<body>
<div class="xp-page">
</div>

</body>
<script type="text/javascript">
	require([/*"/dist/miss.react.js",*/"/dist/app.js"] , function(){})
</script>
</html>